<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>CTH Unacademic</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="css/vendor/bootstrap.min.css" rel="stylesheet">
    <link href="css/flat-ui.css" rel="stylesheet">
    <link href="css/main.css" rel="stylesheet">
    <link rel="shortcut icon" href="img/favicon.ico">
    <!-- HTML5 shim, for IE6-8 support of HTML5 elements. All other JS at the end of file. -->
    <!--[if lt IE 9]>
      <script src="js/vendor/html5shiv.js"></script>
      <script src="js/vendor/respond.min.js"></script>
    <![endif]-->
  </head>

  <body id="bodyIndex">
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
          </button>
          <a class="navbar-brand" href="./">Unacademic</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">

          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="./syllabus.html">Syllabus</a></li>
          </ul>
        </div>
      </div>
    </div>

<div class="container indexContainer">
  <div class="row">
    <div class="col-xs-12 col-sm-3 leftBlock">
      <ul class="leftUl">
        {{#each locations}}
          {{#if currentweek}}
            <li class="test active"><a href="#{{ levelclass }}" data-target="#{{ levelclass }}, #{{levelclass}}Location" data-toggle="tab">{{ level }}</a></li>
          {{else}}
            <li class="test"><a href="#{{ levelclass }}" data-target="#{{ levelclass }}, #{{levelclass}}Location" data-toggle="tab">{{ level }}</a></li>
          {{/if}}
        {{/each}}
      </ul>
    </div>

<div class="col-xs-12 col-sm-9 courseContentContainer">

  <div class="row">

    <!-- Container courseBlocks -->
    <div class="col-xs-12 col-sm-12 col-md-8">

      <div class="tab-content">

      <div role="tabpanel" class="tab-pane" id="level000" class="tab-content">

       <div class="row courseBlockInput">

          {{#each level000}}
          <div class="col-xs-12 col-sm-6 courseBlock {{ classtag }}Block" onclick="location.href='{{ url }}.html';">
            <h3 class="courseTag">{{ title }}</h3>
              <br>
            <p class="courseText">
              {{ summary }}
            </p>
              <br>
              <a href="{{ url }}.html" class="courseCTA">Do the task</a>
          </div>
          {{/each}}

        </div>

      </div>

    <div role="tabpanel" class="tab-pane" id="level001" class="tab-content">

      <div class="row courseBlockInput">

        {{#each level001}}
        <div class="col-xs-12 col-sm-6 courseBlock {{ classtag }}Block" onclick="location.href='{{ url }}.html';">
          <h3 class="courseTag">{{ title }}</h3>
            <br>
          <p class="courseText">
            {{ summary }}
          </p>
            <br>
            <a href="{{ url }}.html" class="courseCTA">Do the task</a>
        </div>
        {{/each}}

        </div>

    </div><!--/tab-panel-->

        <div role="tabpanel" class="tab-pane" id="level002" class="tab-content">

      <div class="row courseBlockInput">

        {{#each level002}}
        <div class="col-xs-12 col-sm-6 courseBlock {{ classtag }}Block" onclick="location.href='{{ url }}.html';">
          <h3 class="courseTag">{{ title }}</h3>
            <br>
          <p class="courseText">
            {{ summary }}
          </p>
            <br>
            <a href="{{ url }}.html" class="courseCTA">Do the task</a>
        </div>
        {{/each}}

        </div>

    </div><!--/tab-panel-->

     <div role="tabpanel" class="tab-pane" id="level003" class="tab-content">

      <div class="row courseBlockInput">

        {{#each level003}}
        <div class="col-xs-12 col-sm-6 courseBlock {{ classtag }}Block" onclick="location.href='{{ url }}.html';">
          <h3 class="courseTag">{{ title }}</h3>
            <br>
          <p class="courseText">
            {{ summary }}
          </p>
            <br>
            <a href="{{ url }}.html" class="courseCTA">Do the task</a>
        </div>
        {{/each}}

        </div>

    </div><!--/tab-panel-->

         <div role="tabpanel" class="tab-pane" id="level004" class="tab-content">

      <div class="row courseBlockInput">

        {{#each level004}}
        <div class="col-xs-12 col-sm-6 courseBlock {{ classtag }}Block" onclick="location.href='{{ url }}.html';">
          <h3 class="courseTag">{{ title }}</h3>
            <br>
          <p class="courseText">
            {{ summary }}
          </p>
            <br>
            <a href="{{ url }}.html" class="courseCTA">Do the task</a>
        </div>
        {{/each}}

        </div>

    </div><!--/tab-panel-->

  </div> <!--/tab-container-->
</div><!--/container courseblocks-->














<!-- LOCATION -->
  <div class="col-xs-12 col-sm-12 col-md-4 locationBlock">

    <div id="LocationTab" class="tab-content">
      {{#each locations}}
          <div class="noBackground tab-pane fade in {{#if currentweek}}active{{/if}}" id="{{{levelclass}}}Location">
            <h6 class="locationTag">{{{ this.level }}} meeting</h6>
              <br>
            <ul class="locationDetails">
              <li>{{{ this.date }}}</li>
              <li>Time {{{ this.time }}}</li>
              <li>{{{ this.location }}}</li>
              <li>{{{ this.street }}}</li>
              <li>{{{ this.city }}}</li>
              <li><a href="{{{ this.urlmaps }}}"/>Google Maps</a></li>
            </ul>
        </div>
      {{/each}}
    </div> <!--/tab container-->

      <h6 class="locationTag">latest messages</h6>
        <br>
      <ul class="locationDetails slackMessages">
        <!-- Insert slack text -->
      </ul>

    </div> <!--/locationBlock-->

      </div> <!--/ row-->
    </div>  <!-- / courseContentContainer-->

  </div> <!--/row 3-9-->
</div> <!--/entire Container -->



    <footer>
      <div class="container">
        <div class="row">
          <div class="col-xs-7">
            <h3 class="footer-title">Coding The Humanities</h3>
            <p>Coding the Humanities is a project from the University of Amsterdam dedicated to teach Humanities students how to program web applications.</br>
            visit <a href="http://codingthehumanities.com/">codingthehumanities.com</a>
            </p>
            <ul class="list-inline banner-social-buttons">
              <li>
              <a href="https://www.facebook.com/codingthehumanities" target="_blank"> <span class="fui-facebook"></span></a>
              </li>
              <li>
              <a href="https://twitter.com/humanizecode" target="_blank"><span class="fui-twitter"></span></a>
              </li>
            </ul>
          </div>

          <div class="col-xs-5">
            <div class="footer-banner">
              <h3 class="footer-title">Our Partners</h3>
              <ul >
                <li><a href="http://www.uva.nl/home" target="_blank" style="text-decoration: none; color: white;">University of Amsterdam</a></li>
                <li><a href="http://sandberg.nl/" target="_blank" style="text-decoration: none; color: white;">Sandberg Institute</a></li>
                <li><a href="http://codingthehumanities.com/" target="_blank" style="text-decoration: none; color: white;">Coding the Humanities</a></li>
                <li><a href="http://www.augmentingmasterpieces.nl/" target="_blank" style="text-decoration: none; color: white;">Augmenting Masterpieces</a></li>
                <li><a href="http://lustlab.net/" target="_blank" style="text-decoration: none; color: white;">Lust / LustLab</a></li>
                <li><a href="https://www.uncinc.nl/" target="_blank" style="text-decoration: none; color: white;">UncInc</a></li>
                <li><a href="http://bocoup.com/" target="_blank" style="text-decoration: none; color: white;"> Bocoup Boston</a></li>
                <li><a href="https://www.rijksmuseum.nl/" target="_blank" style="text-decoration: none; color: white;">Rijksmuseum</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </footer>

    <script src="js/vendor/jquery.min.js"></script>
    <script src="js/handlebars-v2.0.0.js"></script>
<!--     // <script src="http://cdnjs.cloudflare.com/ajax/libs/handlebars.js/2.0.0/handlebars.js"></script> -->
    <script src="js/flat-ui.min.js"></script>
    <script src="js/application.js"></script>

    <script id="slack-template" type="text/x-handlebars-template" src="chat.hbs"></script>

    <script type="text/javascript">
      $('.leftUl li a').click(function (e) {
        e.preventDefault()
        $(this).tab('show')
        $(this).closest('li').addClass('active').siblings().removeClass('active');
      })

      var slackAPI = {
        handlerData:function(resJSON){
            var templateSource   = $("#slack-template").html(),
                template = Handlebars.compile(templateSource),
                slackHTML = template(resJSON);

           $('.slackMessages').html(slackHTML);

        },
        getSlackData : function(){
            $.ajax({
                url:"https://slack.com/api/channels.history?token=xoxp-2886079126-2884787187-2915559012-08ad1e&channel=C02S22B40&count=3&pretty=1",
                method:'get',
                success:this.handlerData
            })
        }
      };

      $(document).ready(function(){
          slackAPI.getSlackData();
      });

    </script>
  </body>
</html>
