<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>CTH Unacademic</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="css/vendor/bootstrap.min.css" rel="stylesheet">
    <link href="css/flat-ui.css" rel="stylesheet">
    <link href="css/main.css" rel="stylesheet">
    <link rel="shortcut icon" href="img/favicon.ico">
    <!-- HTML5 shim, for IE6-8 support of HTML5 elements. All other JS at the end of file. -->
    <!--[if lt IE 9]>
      <script src="js/vendor/html5shiv.js"></script>
      <script src="js/vendor/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
          </button>
          <a class="navbar-brand" href="./">Unacademic</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="./000_HTML.html">HTML</a></li>
            <li><a href="./000_CSS.html">CSS</a></li>
            <li><a href="./000_Gist.html">Gists</a></li>
            <li><a href="./000_City_Walk.html">City Walk</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="./syllabus.html">Syllabus</a></li>
          </ul>
        </div>
      </div>
    </div>

    <div id="slide-panel">
      <button type="button" class="btn btn-danger" id="opener"><i class="fui-question-circle"></i></button>
      <h4>Need help&#63</h4>
      <p> Probably you have come across the term HTML, but if you have no idea what it is. We suggest you do the introduction assignment first. Take a look at the resources, but more importantly look for more on the internet, we provide you with the correct search terms like HTML or tags. Remember Google is your friend!</p>
    </div>

    <div class="row customHero">
      <div class="container">
        <div class="hero-unit">
          <div class="col-xs-9">
            <h3>{{ title }}</h3>
          </div>
        </div>
      </div>
    </div>


    <div class="container">
        <section class="course_content">
          <h4>Course Content</h4>
          {{{markdown course_content}}}
        </section>

        <section class="time_requirement">
          <h4>Time Requirement</h4>
          {{{markdown time_requirement}}}
        </section>

        <section class="schedule">
          <h4>Program</h4>
          {{#each schedule}}
          <section class="meeting">
            <p>Location: {{location}}</p>
            <p>Date: {{date}}</p>
            <p>Time: {{time}}</p>
          </section>
          {{/each}}
        </section>

        {{#with assessment}}
        <section class="assessment">
          <h4>Assessment</h4>
          <p>{{{markdown description}}}</p>
          
          <h5>Review</h5>
          <ul>
            {{#each review}}
            <li><p>{{this}}</p></li>
            {{/each}}
          </ul>

          <h5>Completion</h5>
          <p>{{completion}}</p>

          <h5>Criteria</h5>
          <ul>
            {{#each review}}
            <li><p>{{this}}</p></li>
            {{/each}}
          </ul>

          <h5>Deadlines</h5>
          <ul>
            {{#each deadlines}}
            <li><p>{{this}}</p></li>
            {{/each}}
          </ul>
        </section>
        {{/with}}
    </div>


    <footer>
      <div class="container">
        <div class="row">
          <div class="col-xs-7">
            <h3 class="footer-title">Coding The Humanities</h3>
            <p>Coding the Humanities is a project from the University of Amsterdam dedicated to teach Humanities students how to program web applications.</br>
            visit <a href="http://codingthehumanities.com/">codingthehumanities.com</a>
            </p>
            <ul class="list-inline banner-social-buttons">
              <li>
              <a href="https://www.facebook.com/codingthehumanities" target="_blank"> <span class="fui-facebook"></span></a>
              </li>
              <li>
              <a href="https://twitter.com/humanizecode" target="_blank"><span class="fui-twitter"></span></a>
              </li>
            </ul>
          </div>

          <div class="col-xs-5">
            <div class="footer-banner">
              <h3 class="footer-title">Our Partners</h3>
              <ul >
                <li><a href="http://www.uva.nl/home" target="_blank" style="text-decoration: none; color: white;">University of Amsterdam</a></li>
                <li><a href="http://sandberg.nl/" target="_blank" style="text-decoration: none; color: white;">Sandberg Institute</a></li>
                <li><a href="http://codingthehumanities.com/" target="_blank" style="text-decoration: none; color: white;">Coding the Humanities</a></li>
                <li><a href="http://www.augmentingmasterpieces.nl/" target="_blank" style="text-decoration: none; color: white;">Augmenting Masterpieces</a></li>
                <li><a href="http://lustlab.net/" target="_blank" style="text-decoration: none; color: white;">Lust / LustLab</a></li>
                <li><a href="https://www.uncinc.nl/" target="_blank" style="text-decoration: none; color: white;">UncInc</a></li>
                <li><a href="http://bocoup.com/" target="_blank" style="text-decoration: none; color: white;"> Bocoup Boston</a></li>
                <li><a href="https://www.rijksmuseum.nl/" target="_blank" style="text-decoration: none; color: white;">Rijksmuseum</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </footer>

    <script src="js/vendor/jquery.min.js"></script>
    <script src="js/flat-ui.min.js"></script>
    <script src="js/application.js"></script>
  </body>
</html>
